
<form method="post" action="/back/<%=usern%>">
    <input type="submit" value="back">
</form>
<form method="post" action="/editinput/<%=usern%>">
    <input type="text" name="editedacc" placeholder="account-name">
    <input type="text" name="editedpass"  placeholder="new password">
    <input type="submit" value="update">


</form>

