<form method="post" action="/answer/<%=numb%>/<%=search%>">
    
    <div><%=hintques%> </div>
    <input type="text" name="answer" placeholder="Answer">
    
    
    <input type="submit" value="submit">
</form>