<p>Please enter your phone number</p>
<form method="post" action="/login">
    <input type="tel" name="number">
    <input type="string" name="mail">
    <input type="submit" value="sendcode">
</form>



