<p>Please enter your phone number</p>
<form method="post" action="/login">
    <input type="tel" name="number" placeholder="phone-number">
    <input type="string" name="mail" placeholder="email">
    <input type="submit" value="sendcode">
</form>



