<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="login">
        <form method="post" action="/login">
            <font face="Verdana">
            <p>SIGN IN/UP</p>
        </font>
            <input type="tel" name="number" placeholder="NUMBER">
            <input type="string" name="mail" placeholder="E-MAIL">
            <input type="submit" value="ENTER">
        </form>
    </div>
</body> 



