<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="images\lock your kry-logos_white.png">
        </div>
        <div class="kj">
        <center >
            <ul>
            <li><a href="#" class="active"> Home </a></li>
            <li><a href="#" class="active"> About </a></li>
            <li><a href="#" class="active"> Services </a></li>
            <li><a href="#" class="active"> Contact us </a></li>
        </ul>
    </div>
    </center>
    
    <div class="login">
        <form method="post" action="/login">
            <font face="Verdana">
            <p>SIGN IN/UP</p>
        </font>
            <input type="tel" name="number" placeholder="NUMBER">
            <input type="string" name="mail" placeholder="E-MAIL">
            <input type="submit" value="ENTER">
        </form>
    </div>

    </nav>
    <section class="sec1"></section>
    <section class="sec2"></section>
    <section class="sec3"></section>
    <section class="sec4"></section> 
    <div class="header">
        <font face="Papyrus" size="20px"><h1>LOCK YOUR KEY</h1></font>
      </div>  

<div id="transbox1">
    <p>This is some text that is placed in the transparent box.</p>
  </div>
</body> 



