<form method="post" action="/question/<%=usnum%>/<%=quno%>">
<div>  <%=question%> </div>
<input type="text" name="answer" placeholder="answer">
<div>
    <input type="submit" value="submit">
</div>
</form>
