<head>
    <link rel="stylesheet" href="/styless.css" type="text/css">
</head>
<div class="header">
    <div class="cat">
        <img src="/images/resize_logo.png" />
    </div>
    <!-- <img src="/images/resize_logo.png"> -->
     </div>
     <h1 style="text-shadow: 2px 2px ">LOCK YOUR KEY</h1>

     <body>
         <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <div class="lyk">
            <center>
                <p><b> WE HAVE SENT YOU A VERIFICATION CODE 
                <br>PLEASE ENTER THE CODE HERE</b></p>
                    <form method="post" action="/token">
                    <input type="text" style="padding:7px;" name="token" placeholder="Enter OTP">
                    <input style="background-color: maroon;padding:7px;border-radius:5px;color:aliceblue" type="submit" value="check">
                    </form>
            </center>
        </div>
      </body>