@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.login
{  
    position: relative;
    
    float: right;
}
.kj{
    position: absolute;
    padding: 1px 1px 1px 90px;
}
.transbox {
    /* margin-top: 30%;
    margin: 30px; */
    background-color: #ffffff;
    border: 1px solid black; 
    opacity: 1.0;
  }
.transbox p {
    margin-top: 50%;
    
    margin: 5%;
    font-weight: bold;
    color: #000000;
  } 
.header {
    padding: 60px;
    text-align: center;
    background-image: linear-gradient(45deg,purple, orange);
    color: white;
    font-size: 30px;  
}
/*navigation bar*/


body
{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
nav
{
   margin:0;
   padding:0;
   font-family:sans-serif;
   position:fixed;
    top:0;
    Left:0;
    width:100%;
    height:100px;
    padding: 10px 20px 15px 1px;
   box-sizing:border-box;
    transition:.4s;
}
nav .logo
{
    position:relative;
    float: left;
}
nav .logo img
{   
    
    position: absolute;
    height: 90px;
    transition: .4s;
}
nav ul
{
    float:center;
    margin:0;
    padding:0;
    display:flex;
}
nav ul li
{
    list-style: none;
}
nav ul li a
{
    line-height:80px;
    color:#262626;
   padding:5px 20px;
   font-family:'Roboto',sans-serif;
   text-decoration:none;
    text-transform:uppercase;
    transition: 0.4s;
}

.active:hover
{
    color: black;
    background: #fff;
}